<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Event Details</title>
    <link
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
    <link rel="stylesheet" href="/detail_event.css" />

  </head>
  <body>


    <header>
      <h1>Event Details</h1>
    </header>

    <main>
      <section class="event-details">
        <div class="event-image">
          <img src="<%= data.image %>" alt="Event Image" />
        </div>
        <div class="event-info">
          <h2 class="event-title"><%= data.title %></h2>
          <p class="event-description"><%= data.description %></p>
          <p>
            <strong>Date:</strong>
            <span class="event-date"> <%= data.date %> </span>
          </p>
          <p>
            <strong>Time:</strong>
            <span class="event-time"><%= data.time %></span>
          </p>
          <p>
            <strong>Location:</strong>
            <span class="event-location"> <%= data.location%></span>
          </p>
          <p>
            <strong>Organizer:</strong>
            <span class="event-organizer"> <%= data.organizer%></span>
          </p>
          <p>
            <strong>Type:</strong>
            <span class="event-type"> <%= data.EventType%></span>
          </p>
          <p>
            <strong>Contact:</strong>
            <span class="event-contact"> <%= data.ContactEmail %></span>
          </p>
          <p>
            <strong>Website:</strong>
            <a href="#" class="event-website"><%= data.Website %></a>
          </p>
          <p>
            <strong>Status:</strong>
            <span class="event-status"> <%= data.Status %></span>
          </p>
        </div>
      </section>
    </main>

    <footer>
      <p>&copy; 2024 AlumniConnect</p>
    </footer>
  </body>
</html>
